#main_page{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_page_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#main_page_welcome{
    font-size: 40px;
    margin: 0px;
    user-select: none;
}

#reaction_time_tester_page_button{
    width: 146.391px;
    height: 50px;
    font-size: 18px;
    user-select: none;
}

#reaction_time_trainer_page_button{
    width: 146.391px;
    height: 50px;
    font-size: 18px;
    user-select: none;
}