#reaction_time_tester_page{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#reaction_time_tester_page_start_screen{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#reaction_time_tester_page_start_screen_color_picker_red{
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 30px;
}

#reaction_time_tester_page_start_screen_color_picker_green{
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 30px;
}

#reaction_time_tester_page_start_screen_color_picker_blue{
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 30px;
}

#reaction_time_tester_page_start_screen_user_biological_info{
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#reaction_time_tester_page_start_screen_min_max_delay{
    user-select: none;
}

#reaction_time_tester_page_start_screen_decoy_gamemode_container{
    user-select: none;
    font-size: 30px;
}

#reaction_time_tester_page_start_screen_start_game_button{
    user-select: none;
}

#reaction_time_tester_page_exit_button{
    position: absolute;
    top: 20px;
    right: 20px;
    user-select: none;
}

#reaction_time_tester_page_exit_button:active{
    transform: scale(0.92);
    filter: brightness(0.9);
}

#reaction_time_tester_page_output{
    user-select: none;
}