#reaction_time_trainer_page{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#reaction_time_trainer_page_tmp_message{
    user-select: none;
    font-size: 70px;
}

#reaction_time_tester_page_exit_button{
    position: absolute;
    top: 20px;
    right: 20px;
    user-select: none;
    width: 100px;
    height: 50px;
    font-size: 30px;
}

#reaction_time_tester_page_exit_button:active{
    transform: scale(0.92);
    filter: brightness(0.9);
}