#rt_tester_page{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#start_screen_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.waiting_screen_container{
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 30px;
    font-weight: bold;
}

.accepted_screen_container{
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 30px;
    font-weight: bold;
}

.result_screen_container{
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 30px;
    font-weight: bold;
}

.user_biological_info_container{
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 17px;

    & input{
        width: 75px;
    }
}

.min_max_delay_container{
    font-size: 17px;
    user-select: none;
}

#reaction_time_tester_page_start_screen_decoy_gamemode_container{
    user-select: none;
    font-size: 30px;
}

#reaction_time_tester_page_start_screen_start_game_button{
    width: 146.391px;
    height: 50px;
    font-size: 22px;
    user-select: none;
}

#exit_to_main_page_button{
    position: absolute;
    top: 20px;
    right: 20px;
    user-select: none;
    width: 100px;
    height: 50px;
    font-size: 30px;
}

#exit_to_main_page_button:active{
    transform: scale(0.92);
    filter: brightness(0.9);
}

#reaction_time_tester_page_output{
    user-select: none;
    margin: 0px;
}

#reaction_time_tester_page_go_no_go_checkbox_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#reaction_time_tester_page_go_no_go_checkbox{
    appearance: none;
    border: 1px solid;
    width: 25px;
    height: 25px;
    position: relative;

    &:checked::before{
        content: '';
        position: absolute;
        inset: 2px;
        background-color: #78f76d;
    }
}

/* #reaction_time_tester_page_go_no_go_checkbox:checked{
    inset: 2px;
    background-color: black;
} */

#reaction_time_tester_page_go_no_go_checkbox_label{
    font-size: 17px;
}

